.header {
    width: 100%;
    height: 50px;
    background-color: lightgreen;
}
.menu {
}
.title {
    color: black;
    
}

.contentBody {
    background-color: lightgray;
    padding-top: 5%;
    padding-left: 2%;
    margin-left: 18%;
    padding-right: 2%;
    margin-right: 18%;
    padding-bottom: 10%;
    margin-bottom: 10%;
}
.button {
    cursor:pointer;
}